Resources:
  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Listeners:
        - {LoadBalancerPort: 80, InstanceProtocol: "TCP", InstancePort: 8888, Protocol: "TCP"}
      HealthCheck:
        HealthyThreshold: "3"
        Interval: "30"
        Target: "HTTP:8888/hello"
        Timeout: "5"
        UnhealthyThreshold: "5"