/* --- General --- */
textarea {
  width:60%;
  resize: vertical;
  min-height:300px;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFFFFF;
  margin: 0;
}
.container {
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
}
p {
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 800;
}
a {
  color: #008AFF;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0085a1;
  text-decoration: underline;
}

blockquote {
  color: #808080;
  font-style: italic;
}

/*  Images  */

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* --- Navbar --- */

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    color: #404040;
    padding: 20px;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #0085a1;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

.navbar-custom .avatar-container {
  width: 0px;
  height: 0px;
}

@media only screen and (min-width: 400px) {
    .navbar-custom .avatar-container {
      width: 50px;
      height: 50px;
      margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: 10px;
  }
}

.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
}

.navbar-title {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-weight: 800;
    color: #404040;
}

.navbar-container {
    margin-left: 20px;
    margin-right: 20px;
}

div#main-navbar {
    width: fit-content;
    float: right;
}

.navbar-link {
    list-style: none;
}

#navbar-container {
    background-color: #F5F5F5;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    height: 50px;
}


/* --- Footer --- */

footer {
  background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin-bottom: -8px;
}

footer a {
  color: #404040;
}

footer li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 28px;
    padding: 8px;
}

a.font-icon {
    text-decoration: none;
}

footer .list-inline {
  padding: 0;
}

footer .copyright {
  color: #777;
}


/* --- Post preview --- */

.post-preview {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  color: #404040;
}

.post-preview a:focus,
.post-preview a:hover {
  color: #0085a1;
}

.post-preview .post-title {
  margin: 5px 0px;
}
.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 5px;
}
.post-preview .post-meta,
.post-heading .post-meta {
  font-style: italic;
  font-weight: 200;
  margin: 0 0 10px;
}

.post-entry {
  margin-bottom:20px;
}
.post-preview .post-read-more {
  margin-top: 10px;
  font-weight: 800;
  float: right;
}

/* --- Post and page headers --- */

.intro-header {
  margin: 80px 0 20px;
  position: relative;
}

.intro-header .page-heading {
  text-align: center;
}

.intro-header .page-heading h1 {
  margin-top: 0;
}
.intro-header .post-heading h1 {
  margin-top: 0;
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 27px;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
.intro-header .post-heading .post-subheading {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 145px;
  }
}


/* --- Pager --- */

.pager li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  padding: 15px 10px;
  background: #FFF;
  border-radius: 4px;
  color: #404040;
  border: 1px solid #CCC
}
.pager li a:hover,
.pager li a:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}

.pager.blog-pager {
  list-style: none;
  padding: 10px 0px;
}

li.next {
    text-align: right;
}

li.previous {
    text-align: left;
}

/* --- Tables --- */

table {
  border-collapse: collapse;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 6px 13px;
}

/* --- Code blocks --- */

pre {
  font-size: 16px;
  line-height: 1.5em;
  margin-left:20%;
  margin-right:20%;
}
pre code {
  white-space: pre;
}

code {
    font-weight: bold;
    text-align: left;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 2px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

code.hljs {
    background: #F5F5F5;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #ccc;
}

.j2kcontainer {
    margin-top:60px;
}

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}
