<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Convert JSON to Kotlin Data Class</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <title>Convert JSON to Kotlin Data Class</title>
    <meta property="og:title" content="Convert JSON to Kotlin Data Class"/>
    <meta name="twitter:title" content="Convert JSON to Kotlin Data Class"/>
    <meta name="description" content="Convert JSON to Kotlin Data Class"/>
    <meta property="og:description" content="Convert JSON to Kotlin Data Class"/>
    <meta name="twitter:description" content="Convert JSON to Kotlin Data Class"/>
    <meta name="author" content="Jamie Lynch"/>
    <link href="https://fractalwrench.co.uk/img/favicon.ico" rel="icon" type="image/x-icon"/>
    <meta property="og:image" content="https://fractalwrench.co.uk/img/avatar.png"/>
    <meta name="twitter:image" content="https://fractalwrench.co.uk/img/avatar.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@fractalwrench"/>
    <meta name="twitter:creator" content="@fractalwrench"/>
    <meta property="og:url" content="https://fractalwrench.co.uk/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Fractalwrench"/>
    <script src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
    <script>window.bugsnagClient = bugsnag('e30369d8a62425a9e22a9b9e984d2d22')</script>
</head>

<!-- Slightly ashamed of this JavaScript/CSS but it works ¯\_(ツ)_/¯ -->

<body>
<h1 class="title" id="home">Convert JSON to Kotlin</h1>
<div class="j2kcontainer" style="background:#3F51B5">
    <form id="jsonForm" action="#" th:action="@{/}" th:object="${conversionForm}"
          method="post" onsubmit="return validateForm()">
        <textarea maxlength="10000" placeholder="Paste JSON here..." th:field="*{json}"></textarea>
        <p>
            <input class="button" type="reset" value="Reset"/>
            <input class="button" type="submit" value="Convert"/>
        </p>
    </form>
</div>
<h2 th:if="${kotlin != null}" class="title" id="results">Generated Kotlin Source Code</h2>
<div class="j2kcontainer" style="background:#4CAF50" th:if="${kotlin != null}">

    <input type="hidden" id="filename" th:value="${filename}"/>
    <textarea id="kotlinText" th:text="${kotlin}"></textarea>

    <p>
        <input class="button" id="copyBtn" type="button" value="Copy to Clipboard"
               onclick="copyToClipboard()"/>
        <input class="button" type="button" value="Download" onclick="downloadAsFile()"/>
    </p>

</div>
<h2 class="title" id="about">About</h2>
<div class="j2kcontainer" style="padding-top:0px;">
    <p>As you've probably guessed by now, this project automatically converts JSON to Kotlin source files.
        The <a href="https://github.com/fractalwrench/json-2-kotlin">tool itself</a> is implemented 100% in Kotlin,
        and makes heavy use of Square's excellent
        <a href="https://github.com/square/kotlinpoet">KotlinPoet</a> library.</p>
    <br></br>

    <p>Read <a href="https://fractalwrench.co.uk/posts/json-2-kotlin/">the blog post</a> which covers how this multi-platform tool was written.</p>
    <p>View <a href="https://github.com/fractalwrench/json-2-kotlin">the source on Github</a> to grab the command line tool, or suggest improvements.</p>
    <p>Get in touch <a href="https://twitter.com/fractalwrench">on Twitter</a> if you have questions, comments, or simply enjoy high-quality cat gifs.</p>
</div>
<footer>
    <div>
        <ul class="list-inline">
            <li><a href="mailto:fractalwrench@gmail.com" class="font-icon icon-envelope-o" title="Email me"></a></li>
            <li><a href="https://github.com/fractalwrench" class="font-icon icon-github" title="GitHub"></a></li>
            <li><a href="https://twitter.com/fractalwrench" class="font-icon icon-twitter" title="Twitter"></a></li>
            <li><a href="https://reddit.com/u/fractalwrench" class="font-icon icon-reddit-alien" title="Reddit"></a>
            </li>
            <li><a href="https://linkedin.com/in/fractalwrench" class="font-icon icon-linkedin" title="LinkedIn"></a>
            </li>
            <li><a href="https://stackoverflow.com/users/5144991/fractalwrench" class="font-icon icon-stack-overflow"
                   title="StackOverflow"></a></li>
        </ul>
        <p class="copyright"><a href="https://fractalwrench.co.uk">Jamie Lynch</a> &nbsp;•&nbsp; 2018 &nbsp;•&nbsp; <a
                href="https://fractalwrench.co.uk/">Fractalwrench</a></p>
        <p class="copyright"><a href="http://gohugo.io">Hugo v0.26</a> powered &nbsp;•&nbsp; Theme by <a
                href="http://deanattali.com/beautiful-jekyll/">Beautiful Jekyll</a> adapted to <a
                href="https://github.com/halogenica/beautifulhugo">Beautiful Hugo</a></p></div>
</footer>
<link rel="stylesheet" type="text/css" href="/main.css"/>
<link rel="stylesheet" type="text/css" href="/fonticons.css"/>

<script src="/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/>
<script> hljs.initHighlightingOnLoad(); </script>

<script type="text/javascript" th:if="${kotlin != null}">
window.location = '#results'; // autoscroll to results
</script>

</body>
</html>
